<h1>Campaign Details</h1>

<div id="<%= @campaign.title.parameterize %>">
  <div>
    <p><h2><%= @campaign.title %></h2></p>
  </div>
  <div>
    <p><%= @campaign.description %></p>
  </div>
  <div>
    <p><%= button_to 'Delete', admin_campaign_path(@campaign), method: :delete %>
  </div>
</div>