<h1><%= @character.name %></h1>

<p>Campaign: <%= @character.campaign.title %></p>
<p><%= image_tag @character.image_url if @character.image_url %></p>
<p> Background: </p>
<p> <%= @character.background %>